html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: "Quicksand", "Arial", sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"],
.icon-username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"],
.icon-confirm-password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.username,
.password {
  margin-bottom: -1px !important;
}

#password,
#confirm-password {
  margin-bottom: 0 !important;
}

#password {
  border-radius: 0;
}

#confirm-password {
  border-radius: 0 0 0.25rem 0;
}

.no-radius {
  border-radius: 0 !important;
}

.fa-user-circle-o,
.fa-lock,
.fa-repeat {
  width: 16px !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-brand:hover {
  cursor: default;
}

@media (max-width: 575px) {
  .regist {
    padding-bottom: 45px !important;
  }

  .form-signin .text-left,
  .form-signin .text-right {
    text-align: center !important;
  }
}
